@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

:root{
    --darkGreen: #264653;
    --lightGreen: #2a9d8f;
    --yellow: #e9c46a;
    --orange: #f4a261;
    --red: #e76f51;
    --pink: #ffa5ab;
    --pastelYellow: #f9dbbd;
}
body{
    font-family: "Comic Relief", system-ui;
    background-color: var(--pink);
    padding: 20% 15%;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    color: var(--pastelYellow);
    text-align: center;
    font-size: 3em;
}
section article{
    width: 300px; 
    height: 100px;
    background-color: var(--yellow);
}


.gift {
    position: relative;
    width: 200px;
    height: 150px;
    background: var(--red);
    border-radius: 6px;
    box-shadow: 0 10px 0 var(--red);
}

  /* víko */
.gift::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -10px;
    width: 220px;
    height: 40px;
    background: var(--red);
    border-radius: 6px 6px 0 0;
    box-shadow: 0 6px 0 var(--red);
}

  /* svislá mašle */
.ribbon-vertical {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 100%;
    background: var(--yellow);
}

  /* vodorovná mašle */
.ribbon-horizontal {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 30px;
    background: var(--yellow);
}

  /* mašlička */
.bow {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: var(--yellow);
    border-radius: 50%;
}

.bow::before, .bow::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    background: var(--yellow);
    border-radius: 20px;
    top: 0;
}

.bow::before {
    left: -40px;
}

.bow::after {
    right: -40px;
}

.gift:hover{
    animation: shake 0.5s;
}
@keyframes shake{
    0%{
        transform: rotate(0);
    }
    20%{
        transform: rotate(-3deg);
    }
    40%{
        transform: rotate(3deg);
    }
    60%{
        transform: rotate(-2deg);
    }
    80%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(0);
    }
}



@media(max-width: 1100px){
    section{
        flex-direction: column;
        gap: 100px;
    }
    body{
        align-items: center;
        justify-content: center;
        padding: 30% 15%;
    }
}