@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

:root{
    --darkGreen: #264653;
    --lightGreen: #2a9d8f;
    --yellow: #e9c46a;
    --orange: #f4a261;
    --red: #e76f51;
}

h1{
    color: var(--red);
    font-size: 3em;
    text-align: center;
    margin: 30px;
}
h2{
    color: var(--lightGreen);
    font-size: 2.5em;
    text-align: center;
}
p{
    text-align: justify;
    color: var(--darkGreen);

}
body {
    background-color: var(--yellow);
    font-family: "Comic Relief", system-ui;
    padding: 5% 8%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nextButton{
    font-family: "Comic Relief", system-ui;
    border: 7px solid black;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background-color: var(--red);
    font-size: 3em;
    padding: 10px 30px;
    position: absolute;
    left: calc(50% - 30px);
    transition: 1s;
    top: 85%;
}
div button{
    font-family: "Comic Relief", system-ui;
    border: 7px solid black;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 2em;
    padding: 10px 30px;
    background-color: var(--red);
}
div button:hover{
    opacity: 0.85;
}
.otazka{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 35%;
}
.otazka div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 700px){
    .otazka div{
        flex-direction: column;
    }

}




