@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

:root{
    --blue: #669bbc;
    --light: #fdf0d5;
}

body{
    font-family: "Comic Relief", system-ui;
    background-color: var(--blue);
    color: var(--light);
}
h1{
    font-size: 2.5em;
    text-align: center;
}
header{
    padding: 4% 8%;
}
article{
    padding: 4% 25%;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: start;
    padding-left: 20px;
}
p{
    font-size: 1.3em;
    text-align: justify;
    border-bottom: 2px dotted var(--light);
    padding-bottom: 10%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
}
footer a{
    text-decoration: none;
    font-size: 2em;
    color: var(--light);
    transition: .3s;
}
footer a:hover{
    scale: 1.5;
    transition: .3s;
}