@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

:root{
    --darkGreen: #264653;
    --lightGreen: #2a9d8f;
    --yellow: #e9c46a;
    --orange: #f4a261;
    --red: #e76f51;
    --pink: #ffa5ab;
    --pastelYellow: #f9dbbd;
}

body{
    font-family: "Comic Relief", system-ui;
    background-color: var(--lightGreen);
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 8%;
}
h1{
    font-size: 4em;
}
h2{
    text-align: center;
    font-size: 2em;
}
p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
a{
    font-size: 3em;
    text-decoration: none;
    color: var(--yellow);
    transition: .3s;
}
a:hover{
    scale: 1.5;
    transition: .3s;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main{
    display: flex;flex-direction: column;
    align-items: center;
    gap: 140px;
    padding: 100px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    font-size: 1.5em;
}
img{
    width: 50%;
    max-width: max-content;
}


@media(max-width: 800px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.7em;
    }
    p{
        font-size: 1em;
    }
    a{
        font: 2em;
    }
    li{
        font-size: 1em;
    }
    main{
        padding: 50px;
    }
    img{
        width: 100%;
    }
}